/* Styling switcher */

#switcher {
    position: fixed;
    background: white;
    z-index: 999;
    border: 1px solid #ccc;
    border-bottom-right-radius: 8px;
    top:50%;
    transform: translateX(-100%);
    transition: .2s all ease;
}

.sliding {
    transform: translateX(0%) !important;
}

.setting {
    padding: 12px 15px 11px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    margin: 0;
    color:#555;
    font-family: 'Montserrat', serif;
}

.switcher-title {
    margin: 0;
    padding: 8px 15px;
    font-size: 14px;
    color:#777;
    border-bottom: 1px solid #eee;
    font-family: 'Montserrat', serif;
}

#gear {
    position: absolute;
    top: -1px;
    right: -42px;
    font-size: 25px;
    padding: 10px 10px;
    background: white;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #777;
    cursor: pointer;
}

#gear:hover {
    color: #aaa;
}

.container-color-list .color-list:first-child {
    list-style: none;
    text-align: center;
    padding: 12px 8px 0px;
    margin: 0;
}

.container-color-list .color-list:last-child {
    list-style: none;
    text-align: center;
    padding: 6px 8px 4px;
    margin: 0;
    border-bottom: 1px solid #eee;
}

.color-list li {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 2px;
}


.color-list li.blue {
    background: #0099d5;
}

.color-list li.green {
    background: #3ac162;
}

.color-list li.purple {
    background: #a479e2;
}

.color-list li.gold {
    background: #e9b330;
}

.color-list li.red {
    background: #e74c3c;
}


.color-list li.pink {
    background: #ea4c89;
}

.layout-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.layout-list li {
    margin: 0;
    border-bottom: 1px solid white;
    background: #eee;
    cursor: pointer;
}

.layout-list li a {
    font-size: 13px;
    padding: 8px 15px;
    color: #777;
    margin: 0;
    display: block;
}

.layout-list li a:hover {
    color: #3498db;
    text-decoration: none;
}

.layout-list li:last-child {
    border-bottom-right-radius: 8px;
    border-bottom:none;
}