.topbar{
	background-color: #006699;
	color: #FFFFFF;
	height: 34px;
	font-size: 16px;
}
.topbar-search{
	vertical-align:middle; 
	padding:0 20px;
	background-color: #CC6600;
	border: 5px solid #CC6600; 
	border-radius: 5px;
}
.topbar-offers button{
	background-color:#E7E7E7;
}
.topbar-offers .dropdown-menu{
	background-color: #006699;
	color:#E7E7E7;
}
.topbar-offers .dropdown-menu img{
	padding: 0 5px;
}
.topbar-text{
	font-size: 22px;
}

.topbar-controls span{
	font-size: 24px;
	padding:4px 3px 0;
}
