.zoomable{
	display: none;
	position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
   
}
.remove-button{
	cursor: pointer;
	width: 30px;
	height: 30px;
	position:absolute;
	top: 0;
    right: 0;
}

