.main {
    width: 1600px;
    margin: 0 auto;
    height: 800px;
}
.left, .right {
    display: inline-block;
    width: 49%;
    height: 800px;
}
.left {
    background-color: grey;
}
.right {
    background-color: yellow;
}
.stopwatch-controls {
    margin-top: 20px;
}
.stopwatch-controls .btn-danger {
    margin-left: 20px;
}
.stopwatch-laps {
    margin-top: 20px;
}
.stopwatch-laps .alert {
    position: relative;
    font-size: 18px;
}
.stopwatch-laps .label-danger {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 12px;
    cursor: pointer;
}
